<%- include('../layout/navbar') -%>

<div class="storage">
    <p class="title">Storage</p>
    <div class="labels">
        <p>Sales worth: <%= totalSell.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> IQD</p>
        <p>Purchase worth: <%= totalBuy.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%> IQD</p>
        <div class="filters">
            <select id="mySelect" onchange="redirectToPage(this)">
                <option selected>Filter</option>
                <option value="/storage">Main</option>
                <option value="/storage/filter/qty-most">Quantity (Most)</option>
                <option value="/storage/filter/qty-less">Quantity (Less)</option>
                <option value="/storage/filter/cost-most">Cost (Most)</option>
                <option value="/storage/filter/cost-less">Cost (Less)</option>
            </select>
    
            <select onchange="redirectToPage(this)">
                <option selected>Sort by size</option>
                <option value="/storage">All</option>
                <% size.forEach(data => {%>
                    <option value="/storage/size/<%= data.size%>"><%= data.size%></option>
                <%}) %>
            </select>
        </div>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Size</th>
                <th>Color</th>
                <th>Qty</th>
                <th>Cost</th>
                <th>Sell price</th>
                <th>Sales</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < products.length; i++) {%>
                <tr onclick="window.location.href='/items/get/<%= products[i].id%>'">
                    <td><%= i+1%></td>
                    <td><%= products[i].name%> <%if (products[i].colorName){%>(<%= products[i].colorName%>)<%}%></td>
                    <td><%= products[i].size%></td>
                    <td><div class="color" style="background-color: <%= products[i].color%>"></div></td>
                    <td><%= products[i].qty%></td>
                    <td><%= products[i].price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
                    <td><%= products[i].sell_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></td>
                    <% if(products[i].score.length > 0) {%>
                        <td><%=
                            products[i].score.map(x => parseInt(x.num)).reduce((a, b) => a + b)
                            %></td>
                    <%} else {%>
                        <td>0</td>
                    <%}%>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>
<script src="/javascript/storage.js"></script>
<%- include('../layout/footer') -%>