<%- include("../layout/navbar") -%>
    <div class="item-addColor"><br><br>
        <p class="title">Add color to <%= data.name%> - <%= data.size%>
        </p>
        <div class="addColor-card">
            <img src="/upload/images/<%= data.image%>" alt="Image">
            <div class="inputs">
                <form action="/items/add-color/<%= data.id%>" method="post">
                    <input type="text" class="disabled" disabled="disabled" value="<%= data.name%>">
                    <input type="text" class="disabled" value="<%= data.size%>" disabled="disabled">
                    <div class="flex">
                        <input type="number" placeholder="Price" value="<%= data.price%>" name="price" required>
                        <input type="number" placeholder="Selling price" value="<%= data.sell_price%>"
                            name="sell_price" required>
                    </div>
                    <input type="text" placeholder="Barcode" name="barcode">
                    <div class="flex">
                        <input type="number" placeholder="Quantity" name="qty" required>
                        <input type="color" name="color">
                    </div>
                    <input type="text" name="colorName" placeholder="Color name">
                    <center><button>Add color</button></center>
                </form>
            </div>
        </div>
        <br>

        <div class="wave-svg">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg"
                class="transition duration-300 ease-in-out delay-150">
                <style>
                    .path-0 {
                        animation: pathAnim-0 4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    @keyframes pathAnim-0 {
                        0% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 29.956767879246144,245.87259681363653 59.91353575849229,258.74519362727307 111,277 C 162.0864642415077,295.25480637272693 234.30262484527708,318.8918223045444 285,302 C 335.6973751547229,285.1081776954556 364.8759648603995,227.68751715454945 393,197 C 421.1240351396005,166.31248284545055 448.1935157131246,162.35810907725786 501,148 C 553.8064842868754,133.64189092274214 632.349972287102,108.88004653641903 675,148 C 717.650027712898,187.11995346358097 724.4065951384671,290.1217047770661 764,295 C 803.5934048615329,299.8782952229339 876.0236471590296,206.63313435531654 933,168 C 989.9763528409704,129.36686564468346 1031.4988162254147,145.34575780166773 1063,154 C 1094.5011837745853,162.65424219833227 1115.9810879393115,163.98383443801256 1161,192 C 1206.0189120606885,220.01616556198744 1274.5768320173397,274.7189044462821 1325,286 C 1375.4231679826603,297.2810955537179 1407.7115839913301,265.14054777685897 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        25% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 31.417207496117527,256.0038727225399 62.834414992235054,279.00774544507976 109,271 C 155.16558500776495,262.99225455492024 216.07954752717728,223.97289094222086 263,227 C 309.9204524728227,230.02710905777914 342.8473948990559,275.1006907860369 381,296 C 419.1526051009441,316.8993092139631 462.5308728765988,313.6243459136314 504,279 C 545.4691271234012,244.3756540863686 585.0291135945489,178.40192555943753 631,147 C 676.9708864054511,115.59807444056248 729.352672745206,118.76795184861854 782,149 C 834.647327254794,179.23204815138146 887.5601954246272,236.52626704608838 931,254 C 974.4398045753728,271.4737329539116 1008.4065455562857,249.12697996702784 1041,229 C 1073.5934544437143,208.87302003297216 1104.8136223502308,190.9658130858002 1155,212 C 1205.1863776497692,233.0341869141998 1274.338965042791,293.00976768977137 1325,303 C 1375.661034957209,312.99023231022863 1407.8305174786046,272.9951161551143 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        50% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 49.8649806363873,241.90520418119456 99.7299612727746,250.8104083623891 146,229 C 192.2700387272254,207.1895916376109 234.94513554528885,154.6635707316382 272,155 C 309.05486445471115,155.3364292683618 340.48949654606986,208.53530871105806 384,247 C 427.51050345393014,285.46469128894194 483.09687827043183,309.1951944241295 525,309 C 566.9031217295682,308.8048055758705 595.1229903722027,284.68391359242383 637,289 C 678.8770096277973,293.31608640757617 734.411160240757,326.0691512061751 779,306 C 823.588839759243,285.9308487938249 857.2323686647695,213.03948158287577 905,221 C 952.7676313352305,228.96051841712423 1014.6593651001649,317.772922462322 1057,315 C 1099.340634899835,312.227077537678 1122.130170934571,217.86882856783637 1162,192 C 1201.869829065429,166.13117143216363 1258.819951161551,208.75176326633246 1308,227 C 1357.180048838449,245.24823673366754 1398.5900244192244,239.12411836683378 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        75% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 34.758065515769786,261.48226463072785 69.51613103153957,289.9645292614557 118,268 C 166.48386896846043,246.03547073854432 228.69354138961143,173.62414758490507 279,169 C 329.3064586103886,164.37585241509493 367.7097034100145,227.53888039892405 405,246 C 442.2902965899855,264.46111960107595 478.4676449703304,238.22033081939867 525,231 C 571.5323550296696,223.77966918060133 628.4197167086639,235.57979632348128 678,217 C 727.5802832913361,198.42020367651872 769.8534881950137,149.46048388667637 807,160 C 844.1465118049863,170.53951611332363 876.1663305112809,240.57826812981324 911,260 C 945.8336694887191,279.42173187018676 983.4811897598629,248.2264435940707 1024,218 C 1064.518810240137,187.7735564059293 1107.9089104492678,158.51595749390404 1159,164 C 1210.0910895507322,169.48404250609596 1268.8831684430663,209.70972643031314 1317,227 C 1365.1168315569337,244.29027356968686 1402.558415778467,238.64513678484343 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        100% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 29.956767879246144,245.87259681363653 59.91353575849229,258.74519362727307 111,277 C 162.0864642415077,295.25480637272693 234.30262484527708,318.8918223045444 285,302 C 335.6973751547229,285.1081776954556 364.8759648603995,227.68751715454945 393,197 C 421.1240351396005,166.31248284545055 448.1935157131246,162.35810907725786 501,148 C 553.8064842868754,133.64189092274214 632.349972287102,108.88004653641903 675,148 C 717.650027712898,187.11995346358097 724.4065951384671,290.1217047770661 764,295 C 803.5934048615329,299.8782952229339 876.0236471590296,206.63313435531654 933,168 C 989.9763528409704,129.36686564468346 1031.4988162254147,145.34575780166773 1063,154 C 1094.5011837745853,162.65424219833227 1115.9810879393115,163.98383443801256 1161,192 C 1206.0189120606885,220.01616556198744 1274.5768320173397,274.7189044462821 1325,286 C 1375.4231679826603,297.2810955537179 1407.7115839913301,265.14054777685897 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }
                    }
                </style>
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                        <stop offset="5%" stop-color="#0693e3"></stop>
                        <stop offset="95%" stop-color="#8ED1FC"></stop>
                    </linearGradient>
                </defs>
                <path
                    d="M 0,700 C 0,700 0,233 0,233 C 29.956767879246144,245.87259681363653 59.91353575849229,258.74519362727307 111,277 C 162.0864642415077,295.25480637272693 234.30262484527708,318.8918223045444 285,302 C 335.6973751547229,285.1081776954556 364.8759648603995,227.68751715454945 393,197 C 421.1240351396005,166.31248284545055 448.1935157131246,162.35810907725786 501,148 C 553.8064842868754,133.64189092274214 632.349972287102,108.88004653641903 675,148 C 717.650027712898,187.11995346358097 724.4065951384671,290.1217047770661 764,295 C 803.5934048615329,299.8782952229339 876.0236471590296,206.63313435531654 933,168 C 989.9763528409704,129.36686564468346 1031.4988162254147,145.34575780166773 1063,154 C 1094.5011837745853,162.65424219833227 1115.9810879393115,163.98383443801256 1161,192 C 1206.0189120606885,220.01616556198744 1274.5768320173397,274.7189044462821 1325,286 C 1375.4231679826603,297.2810955537179 1407.7115839913301,265.14054777685897 1440,233 C 1440,233 1440,700 1440,700 Z"
                    stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53"
                    class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
                <style>
                    .path-1 {
                        animation: pathAnim-1 4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    @keyframes pathAnim-1 {
                        0% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 51.360609435843315,469.8904410866289 102.72121887168663,473.78088217325785 141,463 C 179.27878112831337,452.21911782674215 204.47573394909676,426.7669123935976 249,436 C 293.52426605090324,445.2330876064024 357.3758453319262,489.15146825235206 407,522 C 456.6241546680738,554.8485317476479 492.0208847231986,576.6272145969942 536,547 C 579.9791152768014,517.3727854030058 632.5406157752794,436.33967335967094 678,419 C 723.4593842247206,401.66032664032906 761.8166521756839,448.01409196432206 807,440 C 852.1833478243161,431.98590803567794 904.1927755219851,369.6039587830408 937,395 C 969.8072244780149,420.3960412169592 983.4122457363751,533.5700729035148 1028,548 C 1072.587754263625,562.4299270964852 1148.1582415325145,478.1157496028998 1196,465 C 1243.8417584674855,451.8842503971002 1263.9547881335673,509.96692868488583 1300,522 C 1336.0452118664327,534.0330713151142 1388.0226059332163,500.0165356575571 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        25% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 38.72236280344737,440.6284931089622 77.44472560689474,415.2569862179243 120,400 C 162.55527439310526,384.7430137820757 208.94346037586837,379.60054823726495 258,391 C 307.05653962413163,402.39945176273505 358.78143288963184,430.3408208330161 405,458 C 451.21856711036816,485.6591791669839 491.9308080656043,513.0361684306708 534,518 C 576.0691919343957,522.9638315693292 619.495334847951,505.51450544430054 666,510 C 712.504665152049,514.4854945556995 762.087852542592,540.9058097921268 806,546 C 849.912147457408,551.0941902078732 888.1532549816811,534.8622553871926 924,507 C 959.8467450183189,479.13774461280747 993.2991275306836,439.64516865910304 1029,437 C 1064.7008724693164,434.35483134089696 1102.650234895585,468.5570699763954 1155,457 C 1207.349765104415,445.4429300236046 1274.0999328869757,388.12655143531555 1324,382 C 1373.9000671130243,375.87344856468445 1406.9500335565122,420.9367242823422 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        50% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 39.11140939121934,474.5440936111588 78.22281878243868,483.0881872223177 123,471 C 167.77718121756132,458.9118127776823 218.22013426146458,426.1913447218882 259,402 C 299.7798657385354,377.8086552781118 330.89664417170303,362.14643389012946 372,402 C 413.10335582829697,441.85356610987054 464.1932890517231,537.2229197175941 513,554 C 561.8067109482769,570.7770802824059 608.3301996214045,508.9618872394944 659,510 C 709.6698003785955,511.0381127605056 764.4859124626585,574.9295313244286 809,549 C 853.5140875373415,523.0704686755714 887.7261505279615,407.31998746279123 929,404 C 970.2738494720385,400.68001253720877 1018.609485425495,509.7905188244065 1056,533 C 1093.390514574505,556.2094811755935 1119.835907770059,493.51793723958286 1163,490 C 1206.164092229941,486.48206276041714 1266.046883494269,542.137732217262 1315,548 C 1363.953116505731,553.862267782738 1401.9765582528655,509.931133891369 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        75% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 52.516575500381606,466.02377465606787 105.03315100076321,466.04754931213574 149,441 C 192.9668489992368,415.95245068786426 228.38397149732873,365.83357740752484 264,385 C 299.61602850267127,404.16642259247516 335.4309630099217,492.618141057765 375,528 C 414.5690369900783,563.381858942235 457.89217646298425,545.6938583614152 508,536 C 558.1078235370157,526.3061416385848 615.0003311381413,524.6064254965744 666,520 C 716.9996688618587,515.3935745034256 762.1064989844506,507.8804396522873 804,484 C 845.8935010155494,460.1195603477127 884.573672924056,419.8718158942766 917,422 C 949.426327075944,424.1281841057234 975.5988093193255,468.6322967706063 1024,474 C 1072.4011906806745,479.3677032293937 1143.031089798643,445.5989970232983 1191,450 C 1238.968910201357,454.4010029767017 1264.276831486102,496.9717151362005 1302,506 C 1339.723168513898,515.0282848637995 1389.8615842569488,490.51414243189976 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        100% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 51.360609435843315,469.8904410866289 102.72121887168663,473.78088217325785 141,463 C 179.27878112831337,452.21911782674215 204.47573394909676,426.7669123935976 249,436 C 293.52426605090324,445.2330876064024 357.3758453319262,489.15146825235206 407,522 C 456.6241546680738,554.8485317476479 492.0208847231986,576.6272145969942 536,547 C 579.9791152768014,517.3727854030058 632.5406157752794,436.33967335967094 678,419 C 723.4593842247206,401.66032664032906 761.8166521756839,448.01409196432206 807,440 C 852.1833478243161,431.98590803567794 904.1927755219851,369.6039587830408 937,395 C 969.8072244780149,420.3960412169592 983.4122457363751,533.5700729035148 1028,548 C 1072.587754263625,562.4299270964852 1148.1582415325145,478.1157496028998 1196,465 C 1243.8417584674855,451.8842503971002 1263.9547881335673,509.96692868488583 1300,522 C 1336.0452118664327,534.0330713151142 1388.0226059332163,500.0165356575571 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }
                    }
                </style>
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                        <stop offset="5%" stop-color="#0693e3"></stop>
                        <stop offset="95%" stop-color="#8ED1FC"></stop>
                    </linearGradient>
                </defs>
                <path
                    d="M 0,700 C 0,700 0,466 0,466 C 51.360609435843315,469.8904410866289 102.72121887168663,473.78088217325785 141,463 C 179.27878112831337,452.21911782674215 204.47573394909676,426.7669123935976 249,436 C 293.52426605090324,445.2330876064024 357.3758453319262,489.15146825235206 407,522 C 456.6241546680738,554.8485317476479 492.0208847231986,576.6272145969942 536,547 C 579.9791152768014,517.3727854030058 632.5406157752794,436.33967335967094 678,419 C 723.4593842247206,401.66032664032906 761.8166521756839,448.01409196432206 807,440 C 852.1833478243161,431.98590803567794 904.1927755219851,369.6039587830408 937,395 C 969.8072244780149,420.3960412169592 983.4122457363751,533.5700729035148 1028,548 C 1072.587754263625,562.4299270964852 1148.1582415325145,478.1157496028998 1196,465 C 1243.8417584674855,451.8842503971002 1263.9547881335673,509.96692868488583 1300,522 C 1336.0452118664327,534.0330713151142 1388.0226059332163,500.0165356575571 1440,466 C 1440,466 1440,700 1440,700 Z"
                    stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1"
                    class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
            </svg>
        </div>
    </div>
    <%- include("../layout/footer") -%>