<%- include("../layout/navbar") -%>

    <div class="add-items">
        <div class="add-card">
            <div class="svg">
                <svg class="animated" id="freepik_stories-upload" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 500 500" version="1.1"
                    xmlns:svgjs="http://svgjs.com/svgjs">
                    <style>
                        svg#freepik_stories-upload:not(.animated) .animable {
                            opacity: 0;
                        }

                        svg#freepik_stories-upload.animated #freepik--Clouds--inject-25 {
                            animation: 1.5s Infinite linear floating;
                            animation-delay: 0s;
                        }

                        @keyframes floating {
                            0% {
                                opacity: 1;
                                transform: translateY(0px);
                            }

                            50% {
                                transform: translateY(-10px);
                            }

                            100% {
                                opacity: 1;
                                transform: translateY(0px);
                            }
                        }
                    </style>
                    <g id="freepik--background-simple--inject-25" class="animable"
                        style="transform-origin: 268.832px 243.996px;">
                        <path
                            d="M286.92,403.93S358,386.7,402,348.14s57.89-96,32-145.26-100.23-57.08-153.43-95-122-44.78-167,6.71-7.75,80.67-19.14,147.74S121.23,437.65,286.92,403.93Z"
                            style="fill: #2E86EA; transform-origin: 268.832px 243.996px;" id="elnajkws7v8gq"
                            class="animable"></path>
                        <g id="elhgnggb9h9x8">
                            <path
                                d="M286.92,403.93S358,386.7,402,348.14s57.89-96,32-145.26-100.23-57.08-153.43-95-122-44.78-167,6.71-7.75,80.67-19.14,147.74S121.23,437.65,286.92,403.93Z"
                                style="fill: rgb(255, 255, 255); opacity: 0.7; transform-origin: 268.832px 243.996px;"
                                class="animable" id="elqosru8nf75k"></path>
                        </g>
                    </g>
                    <g id="freepik--Plants--inject-25" class="animable" style="transform-origin: 85.9353px 352.018px;">
                        <g style="clip-path: url(&quot;#freepik--clip-path--inject-25&quot;); transform-origin: 85.9353px 352.018px;"
                            id="el1pblsxcujny" class="animable">
                            <path
                                d="M108.24,293.87c.06,0,1.1-4,1.14-4.29.42-3-.55-9.18-3.65-10.68a4.08,4.08,0,0,0-5.55,2.46c-.83,2.28.23,5.09,1.47,7C103.12,290.64,108.24,293.86,108.24,293.87Z"
                                style="fill: #2E86EA; transform-origin: 104.679px 286.206px;" id="elyb7y2602gh"
                                class="animable"></path>
                            <path
                                d="M126.29,272c-3.43-.36-7.49,4.33-8.75,7.14-.1.24-1.36,4.24-1.3,4.23h.08c-.65.74-1.34,1.54-2.07,2.42-1.34,1.65-2.84,3.52-4.33,5.67a71.2,71.2,0,0,0-4.49,7.15,52.4,52.4,0,0,0-3.84,8.64l0,.11c0-1,0-3.83-.06-4.05-.39-3.05-3-8.71-6.34-9.34a4.07,4.07,0,0,0-4.7,3.84c-.2,2.42,1.56,4.85,3.27,6.38,1.93,1.72,7.3,3.4,7.73,3.53A71.06,71.06,0,0,0,99.19,317c-.33,1.84-.6,3.7-.85,5.58,0-.87,0-1.65,0-1.76-.39-3.05-3-8.72-6.34-9.34a4.07,4.07,0,0,0-4.7,3.83c-.2,2.43,1.56,4.85,3.27,6.38s6.29,3.07,7.49,3.46l-.27,2.16c-.41,3.45-.81,6.91-1.3,10.28-.17,1.19-.39,2.35-.6,3.52,0-.78,0-1.43,0-1.53-.4-3.05-3-8.71-6.34-9.34a4.07,4.07,0,0,0-4.7,3.84c-.2,2.42,1.56,4.85,3.27,6.38s5.84,2.92,7.27,3.38c-.25,1.19-.5,2.38-.79,3.52-.22.77-.38,1.53-.65,2.3s-.49,1.51-.73,2.26c-.52,1.42-1,2.89-1.58,4.27-.37,1-.74,1.87-1.11,2.78.19-1.18.51-3.5.51-3.7a15.86,15.86,0,0,0-2.12-7.7,4.54,4.54,0,0,0-.06-.9,4.07,4.07,0,0,0-5-3.46c-3.33.89-5.44,6.73-5.6,9.8,0,.18.11,2.16.2,3.41-.16-.73-.32-1.43-.5-2.17-.35-1.48-.74-2.94-1.16-4.51-.22-.75-.45-1.51-.69-2.27s-.53-1.55-.8-2.33c-.66-1.8-1.41-3.6-2.21-5.38,1.29-.31,5.85-1.48,7.68-2.88s3.75-3.69,3.73-6.12a4.07,4.07,0,0,0-4.4-4.17c-3.42.37-6.4,5.82-7,8.84,0,.19-.24,2.4-.33,3.61-.49-1.07-1-2.14-1.5-3.21-1.53-3.08-3.18-6.15-4.8-9.22l-1.48-2.83c.46-.11,5.91-1.37,8-2.95,1.82-1.39,3.76-3.68,3.74-6.11a4.08,4.08,0,0,0-4.4-4.18c-3.43.37-6.4,5.83-7,8.84,0,.23-.34,3.41-.37,4.23-1.08-2.08-2.13-4.16-3.09-6.25a70,70,0,0,1-3.36-8.69c.21,0,5.91-1.34,8-2.95,1.82-1.4,3.75-3.69,3.73-6.12a4.07,4.07,0,0,0-4.4-4.17c-3.42.37-6.39,5.83-7,8.84,0,.2-.26,2.62-.34,3.78l-.19,0a51.43,51.43,0,0,1-1.75-9.2c-.2-1.71-.28-3.36-.33-5,1.08-.13,6-.79,8.08-2s4.14-3.26,4.39-5.68a4.08,4.08,0,0,0-3.92-4.63c-3.44,0-7,5.09-7.94,8,0,.16-.4,1.83-.63,3.06,0-.73,0-1.47,0-2.17,0-2.6.17-5,.34-7.1.1-1.2.21-2.28.33-3.29,1-.69,5-3.5,6.21-5.51s2.17-4.79,1.28-7.06a4.08,4.08,0,0,0-5.61-2.3C55.51,266.83,54.7,273,55.21,276c0,.27,1.2,4.29,1.25,4.25l.06,0c-.13,1-.26,2-.39,3.16-.21,2.11-.42,4.5-.48,7.11a71.89,71.89,0,0,0,.2,8.45,53,53,0,0,0,1.56,9.32s0,.08,0,.11c-.55-.85-2.14-3.18-2.28-3.35-2-2.32-7.27-5.63-10.44-4.29a4.07,4.07,0,0,0-1.81,5.79c1.17,2.14,4,3.19,6.25,3.52,2.56.37,8-1.19,8.39-1.32a72.55,72.55,0,0,0,3.27,9.06c.74,1.72,1.54,3.43,2.37,5.13-.49-.72-.94-1.36-1-1.45-2-2.32-7.27-5.63-10.44-4.29A4.09,4.09,0,0,0,49.94,323c1.17,2.13,4,3.19,6.25,3.52s6.94-.91,8.16-1.25l1,1.95c1.56,3.11,3.14,6.21,4.59,9.3.51,1.08,1,2.17,1.44,3.26-.44-.64-.81-1.17-.88-1.25-2-2.33-7.27-5.64-10.44-4.29a4.07,4.07,0,0,0-1.8,5.79c1.17,2.13,4,3.18,6.25,3.52s6.48-.79,7.93-1.19c.45,1.12.89,2.26,1.27,3.37.25.77.53,1.49.74,2.27s.42,1.54.64,2.29c.35,1.48.72,3,1,4.44.22,1,.42,2,.61,2.93-.49-1.09-1.51-3.2-1.62-3.37-1.63-2.6-6.33-6.67-9.67-5.82a4.07,4.07,0,0,0-2.66,5.45c.84,2.28,3.45,3.75,5.65,4.42,2.42.74,7.77.06,8.44,0,.32,1.6.62,3.16.87,4.63.91,5.12,1.46,9.41,1.81,12.42.06.53.11,1,.16,1.46H69.31l3.19,62.42H91.34l3.2-62.42H84.88l.22-.44c1.32-2.77,3.16-6.73,5.15-11.59.63-1.53,1.27-3.18,1.92-4.88.64.13,6,1.21,8.42.65,2.24-.5,5-1.77,6-4a4.08,4.08,0,0,0-2.25-5.63c-3.27-1.1-8.25,2.61-10.08,5.08-.11.15-1.1,1.87-1.71,3,.26-.7.52-1.37.78-2.09.52-1.42,1-2.86,1.52-4.4.22-.75.45-1.51.68-2.28s.41-1.58.62-2.38c.44-1.87.8-3.78,1.12-5.71,1.24.45,5.69,2,8,1.84s5.17-1,6.49-3a4.07,4.07,0,0,0-1.37-5.91c-3.06-1.58-8.55,1.33-10.73,3.5-.13.13-1.52,1.87-2.27,2.83.19-1.16.37-2.32.52-3.51.42-3.41.75-6.88,1.08-10.34l.33-3.17c.44.16,5.69,2.11,8.27,1.93,2.29-.16,5.16-1,6.49-3a4.07,4.07,0,0,0-1.37-5.91c-3.06-1.58-8.55,1.33-10.73,3.5-.16.17-2.16,2.66-2.64,3.32.25-2.32.52-4.64.87-6.91a72.22,72.22,0,0,1,2-9.1c.2.08,5.67,2.14,8.31,2,2.29-.16,5.16-1,6.49-3a4.07,4.07,0,0,0-1.37-5.91c-3.06-1.58-8.55,1.33-10.73,3.5-.14.15-1.66,2.05-2.37,3l-.17-.09a51.47,51.47,0,0,1,3.61-8.64c.78-1.54,1.62-3,2.46-4.32,1,.49,5.47,2.67,7.87,2.76s5.25-.42,6.79-2.3a4.09,4.09,0,0,0-.71-6c-2.87-1.91-8.65.39-11,2.3-.13.11-1.35,1.31-2.22,2.21.39-.61.78-1.25,1.17-1.83,1.44-2.17,2.89-4.07,4.19-5.74.75-.94,1.44-1.78,2.1-2.56,1.21,0,6.09-.17,8.22-1.17s4.46-2.8,5-5.18A4.08,4.08,0,0,0,126.29,272ZM88.37,364c-2.07,4.76-4,8.65-5.35,11.35-.27.54-.52,1-.75,1.47H82c-.07-.53-.14-1.1-.23-1.75-.42-3-1.08-7.36-2.1-12.5-.32-1.63-.69-3.36-1.09-5.14a45,45,0,0,0,4.71-2.21c1.76,1.91,6.28,4.14,6.86,4.43C89.58,361.14,89,362.6,88.37,364Z"
                                style="fill: #2E86EA; transform-origin: 86.17px 352.018px;" id="el88ggakv83e6"
                                class="animable"></path>
                            <path
                                d="M47.08,292.54c2.47,1.08,8.52.94,8.53.94s-1.3-4-1.42-4.2c-1.33-2.77-5.52-7.36-8.94-6.89a4.08,4.08,0,0,0-3.27,5.1C42.55,289.86,45,291.62,47.08,292.54Z"
                                style="fill: #2E86EA; transform-origin: 48.723px 287.921px;" id="elfkn0flni93l"
                                class="animable"></path>
                            <g id="eln93d6wsbdq">
                                <path
                                    d="M47.08,292.54c2.47,1.08,8.52.94,8.53.94s-1.3-4-1.42-4.2c-1.33-2.77-5.52-7.36-8.94-6.89a4.08,4.08,0,0,0-3.27,5.1C42.55,289.86,45,291.62,47.08,292.54Z"
                                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 48.723px 287.921px;"
                                    class="animable" id="elhplbwj7999l"></path>
                            </g>
                            <g id="elecw4oxc5hum">
                                <path
                                    d="M108.24,293.87c.06,0,1.1-4,1.14-4.29.42-3-.55-9.18-3.65-10.68a4.08,4.08,0,0,0-5.55,2.46c-.83,2.28.23,5.09,1.47,7C103.12,290.64,108.24,293.86,108.24,293.87Z"
                                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 104.679px 286.206px;"
                                    class="animable" id="elgdcp0ilsx1v"></path>
                            </g>
                            <g id="ele1ljz1oxqko">
                                <path
                                    d="M57.56,308.73a72.55,72.55,0,0,0,3.27,9.06c.74,1.72,1.54,3.43,2.37,5.13-.49-.72-.94-1.36-1-1.45-2-2.32-7.27-5.63-10.44-4.29A4.09,4.09,0,0,0,49.94,323c1.17,2.13,4,3.19,6.25,3.52s6.94-.91,8.16-1.25l1,1.95c1.56,3.11,3.14,6.21,4.59,9.3.51,1.08,1,2.17,1.44,3.26-.44-.64-.81-1.17-.88-1.25-2-2.33-7.27-5.64-10.44-4.29a4.07,4.07,0,0,0-1.8,5.79c1.17,2.13,4,3.18,6.25,3.52s6.48-.79,7.93-1.19c.45,1.12.89,2.26,1.27,3.37.25.77.53,1.49.74,2.27s.42,1.54.64,2.29c.35,1.48.72,3,1,4.44.22,1,.42,2,.61,2.93-.49-1.09-1.51-3.2-1.62-3.37-1.63-2.6-6.33-6.67-9.67-5.82a4.07,4.07,0,0,0-2.66,5.45c.84,2.28,3.45,3.75,5.65,4.42,2.42.74,7.77.06,8.44,0,.32,1.6.62,3.16.87,4.63.91,5.12,1.46,9.41,1.81,12.42.06.53.11,1,.16,1.46H69.31l3.19,62.42H91.34l3.2-62.42H84.88l.22-.44c1.32-2.77,3.16-6.73,5.15-11.59.63-1.53,1.27-3.18,1.92-4.88.64.13,6,1.21,8.42.65,2.24-.5,5-1.77,6-4a4.08,4.08,0,0,0-2.25-5.63c-3.27-1.1-8.25,2.61-10.08,5.08-.11.15-1.1,1.87-1.71,3,.26-.7.52-1.37.78-2.09.52-1.42,1-2.86,1.52-4.4.22-.75.45-1.51.68-2.28s.41-1.58.62-2.38c.44-1.87.8-3.78,1.12-5.71,1.24.45,5.69,2,8,1.84s5.17-1,6.49-3a4.07,4.07,0,0,0-1.37-5.91c-3.06-1.58-8.55,1.33-10.73,3.5-.13.13-1.52,1.87-2.27,2.83.19-1.16.37-2.32.52-3.51.42-3.41.75-6.88,1.08-10.34l.33-3.17c.44.16,5.69,2.11,8.27,1.93,2.29-.16,5.16-1,6.49-3a4.07,4.07,0,0,0-1.37-5.91c-3.06-1.58-8.55,1.33-10.73,3.5-.16.17-2.16,2.66-2.64,3.32.25-2.32.52-4.64.87-6.91a72.22,72.22,0,0,1,2-9.1c.2.08,5.67,2.14,8.31,2,2.29-.16,5.16-1,6.49-3a4.07,4.07,0,0,0-1.37-5.91c-3.06-1.58-8.55,1.33-10.73,3.5-.14.15-1.66,2.05-2.37,3l-.17-.09a51.47,51.47,0,0,1,3.61-8.64c.78-1.54,1.62-3,2.46-4.32,1,.49,5.47,2.67,7.87,2.76s5.25-.42,6.79-2.3a4.09,4.09,0,0,0-.71-6c-2.87-1.91-8.65.39-11,2.3-.13.11-1.35,1.31-2.22,2.21.39-.61.78-1.25,1.17-1.83,1.44-2.17,2.89-4.07,4.19-5.74.75-.94,1.44-1.78,2.1-2.56,1.21,0,6.09-.17,8.22-1.17s4.46-2.8,5-5.18a4.08,4.08,0,0,0-3.41-5c-3.43-.36-7.49,4.33-8.75,7.14-.1.24-1.36,4.24-1.3,4.23h.08c-.65.74-1.34,1.54-2.07,2.42-1.34,1.65-2.84,3.52-4.33,5.67a71.2,71.2,0,0,0-4.49,7.15,52.4,52.4,0,0,0-3.84,8.64l0,.11c0-1,0-3.83-.06-4.05-.39-3.05-3-8.71-6.34-9.34a4.07,4.07,0,0,0-4.7,3.84c-.2,2.42,1.56,4.85,3.27,6.38,1.93,1.72,7.3,3.4,7.73,3.53A71.06,71.06,0,0,0,99.19,317c-.33,1.84-.6,3.7-.85,5.58,0-.87,0-1.65,0-1.76-.39-3.05-3-8.72-6.34-9.34a4.07,4.07,0,0,0-4.7,3.83c-.2,2.43,1.56,4.85,3.27,6.38s6.29,3.07,7.49,3.46l-.27,2.16c-.41,3.45-.81,6.91-1.3,10.28-.17,1.19-.39,2.35-.6,3.52,0-.78,0-1.43,0-1.53-.4-3.05-3-8.71-6.34-9.34a4.07,4.07,0,0,0-4.7,3.84c-.2,2.42,1.56,4.85,3.27,6.38s5.84,2.92,7.27,3.38c-.25,1.19-.5,2.38-.79,3.52-.22.77-.38,1.53-.65,2.3s-.49,1.51-.73,2.26c-.52,1.42-1,2.89-1.58,4.27-.37,1-.74,1.87-1.11,2.78.19-1.18.51-3.5.51-3.7a15.86,15.86,0,0,0-2.12-7.7,4.54,4.54,0,0,0-.06-.9,4.07,4.07,0,0,0-5-3.46c-3.33.89-5.44,6.73-5.6,9.8,0,.18.11,2.16.2,3.41-.16-.73-.32-1.43-.5-2.17-.35-1.48-.74-2.94-1.16-4.51-.22-.75-.45-1.51-.69-2.27s-.53-1.55-.8-2.33c-.66-1.8-1.41-3.6-2.21-5.38,1.29-.31,5.85-1.48,7.68-2.88s3.75-3.69,3.73-6.12a4.07,4.07,0,0,0-4.4-4.17c-3.42.37-6.4,5.82-7,8.84,0,.19-.24,2.4-.33,3.61-.49-1.07-1-2.14-1.5-3.21-1.53-3.08-3.18-6.15-4.8-9.22l-1.48-2.83c.46-.11,5.91-1.37,8-2.95,1.82-1.39,3.76-3.68,3.74-6.11a4.08,4.08,0,0,0-4.4-4.18c-3.43.37-6.4,5.83-7,8.84,0,.23-.34,3.41-.37,4.23-1.08-2.08-2.13-4.16-3.09-6.25a70,70,0,0,1-3.36-8.69c.21,0,5.91-1.34,8-2.95,1.82-1.4,3.75-3.69,3.73-6.12a4.07,4.07,0,0,0-4.4-4.17c-3.42.37-6.39,5.83-7,8.84,0,.2-.26,2.62-.34,3.78l-.19,0a51.43,51.43,0,0,1-1.75-9.2c-.2-1.71-.28-3.36-.33-5,1.08-.13,6-.79,8.08-2s4.14-3.26,4.39-5.68a4.08,4.08,0,0,0-3.92-4.63c-3.44,0-7,5.09-7.94,8,0,.16-.4,1.83-.63,3.06,0-.73,0-1.47,0-2.17,0-2.6.17-5,.34-7.1.1-1.2.21-2.28.33-3.29,1-.69,5-3.5,6.21-5.51s2.17-4.79,1.28-7.06a4.08,4.08,0,0,0-5.61-2.3C55.51,266.83,54.7,273,55.21,276c0,.27,1.2,4.29,1.25,4.25l.06,0c-.13,1-.26,2-.39,3.16-.21,2.11-.42,4.5-.48,7.11a71.89,71.89,0,0,0,.2,8.45,53,53,0,0,0,1.56,9.32s0,.08,0,.11c-.55-.85-2.14-3.18-2.28-3.35-2-2.32-7.27-5.63-10.44-4.29a4.07,4.07,0,0,0-1.81,5.79c1.17,2.14,4,3.19,6.25,3.52C51.73,310.42,57.13,308.86,57.56,308.73ZM83.33,355.2c1.76,1.91,6.28,4.14,6.86,4.43-.61,1.51-1.22,3-1.82,4.35-2.07,4.76-4,8.65-5.35,11.35-.27.54-.52,1-.75,1.47H82c-.07-.53-.14-1.1-.23-1.75-.42-3-1.08-7.36-2.1-12.5-.32-1.63-.69-3.36-1.09-5.14A45,45,0,0,0,83.33,355.2Z"
                                    style="fill: rgb(255, 255, 255); opacity: 0.3; transform-origin: 86.1346px 352.018px;"
                                    class="animable" id="el0y4q3os51hq9"></path>
                            </g>
                        </g>
                    </g>
                    <g id="freepik--Device--inject-25" class="animable" style="transform-origin: 264.16px 324.24px;">
                        <path
                            d="M110.23,209.2h309.2a10.46,10.46,0,0,1,10.46,10.46V423.48a0,0,0,0,1,0,0H99.77a0,0,0,0,1,0,0V219.66A10.46,10.46,0,0,1,110.23,209.2Z"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 264.83px 316.34px;"
                            id="el9cpj8e8mxn8" class="animable"></path>
                        <rect x="113.16" y="225.94" width="303.33" height="171.42"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 264.825px 311.65px;"
                            id="eld9gdlwwocf8" class="animable"></rect>
                        <rect x="152.15" y="413.16" width="226.87" height="11.18"
                            style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 265.585px 418.75px;"
                            id="elkafjehkjzis" class="animable"></rect>
                        <rect x="152.15" y="418.54" width="226.87" height="5.8"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 265.585px 421.44px;"
                            id="elofj848o2kdk" class="animable"></rect>
                        <path d="M73.07,431s3.73,4.56,14.91,8.28H443.19s8.28-2.07,12-7.86Z"
                            style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 264.13px 435.14px;"
                            id="elveu95pgs1s" class="animable"></path>
                        <rect x="72.32" y="422.81" width="383.68" height="8.7" rx="1.89"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 264.16px 427.16px;"
                            id="elu5wa7qc8dum" class="animable"></rect>
                        <path d="M267.65,215.68a2.9,2.9,0,1,0-2.89,2.9A2.89,2.89,0,0,0,267.65,215.68Z"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 264.75px 215.68px;"
                            id="elfo5uj5utbom" class="animable"></path>
                        <path
                            d="M102.88,269.5h0a.83.83,0,0,1-.83-.82v-24a.83.83,0,0,1,.83-.82h0a.83.83,0,0,1,.83.82v24A.83.83,0,0,1,102.88,269.5Z"
                            style="fill: rgb(38, 50, 56); stroke: rgb(255, 255, 255); stroke-miterlimit: 10; stroke-width: 0.691688px; transform-origin: 102.88px 256.68px;"
                            id="elta23fg02kva" class="animable"></path>
                        <line x1="334.12" y1="225.94" x2="334.12" y2="397.3"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 334.12px 311.62px;"
                            id="elt8y67p60h4p" class="animable"></line>
                        <line x1="338.37" y1="225.94" x2="338.37" y2="397.3"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 338.37px 311.62px;"
                            id="elrhv4hgws05i" class="animable"></line>
                        <line x1="113.33" y1="385.98" x2="334.12" y2="385.98"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 223.725px 385.98px;"
                            id="el9tsv7wrwy0r" class="animable"></line>
                        <line x1="123.06" y1="364.64" x2="197.74" y2="364.64"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 364.64px;"
                            id="el45ubjthm1zz" class="animable"></line>
                        <line x1="123.06" y1="357.53" x2="197.74" y2="357.53"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 357.53px;"
                            id="elf80qwc75rbf" class="animable"></line>
                        <line x1="123.06" y1="350.42" x2="197.74" y2="350.42"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 350.42px;"
                            id="elvl419g7rzk" class="animable"></line>
                        <line x1="123.06" y1="343.31" x2="197.74" y2="343.31"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 343.31px;"
                            id="elr11j6mjeqp" class="animable"></line>
                        <line x1="123.06" y1="336.19" x2="197.74" y2="336.19"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 336.19px;"
                            id="el7fav4zl67n" class="animable"></line>
                        <line x1="123.06" y1="315.45" x2="197.74" y2="315.45"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 315.45px;"
                            id="elwnqatkbug0f" class="animable"></line>
                        <line x1="123.06" y1="308.34" x2="197.74" y2="308.34"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 308.34px;"
                            id="elkpe4f8s3qj" class="animable"></line>
                        <line x1="123.06" y1="301.23" x2="197.74" y2="301.23"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 301.23px;"
                            id="eld02g0omddzc" class="animable"></line>
                        <line x1="123.06" y1="294.12" x2="197.74" y2="294.12"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 294.12px;"
                            id="eljrdc3000xjn" class="animable"></line>
                        <line x1="123.06" y1="287" x2="197.74" y2="287"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 160.4px 287px;"
                            id="elp4qt61inujm" class="animable"></line>
                        <path d="M379.34,242.18a1,1,0,0,0-1,1l-.06,1.3H362.14l-.95,22.63h31l.71-17.15.24-5.48.1-2.26Z"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.215px 254.645px;"
                            id="el8us263sr7mj" class="animable"></path>
                        <polygon points="392.19 267.07 392.05 246.02 362.26 246.02 362.5 266.82 392.19 267.07"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.225px 256.545px;"
                            id="elwxwxd4tahod" class="animable"></polygon>
                        <polygon points="392.19 267.07 390.83 246.02 361.04 246.02 361.28 266.82 392.19 267.07"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 376.615px 256.545px;"
                            id="el6se6tej8mrh" class="animable"></polygon>
                        <polygon points="361.19 267.07 357.05 245.37 388.24 245.37 392.19 267.07 361.19 267.07"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 374.62px 256.22px;"
                            id="elsznr5v70i0f" class="animable"></polygon>
                        <path
                            d="M379.34,280.42a1,1,0,0,0-1,.95l-.06,1.31H362.14l-.95,22.63h31l.71-17.16.24-5.47.1-2.26Z"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.215px 292.865px;"
                            id="elftecm7tssm5" class="animable"></path>
                        <polygon points="392.19 305.31 392.05 284.26 362.26 284.26 362.5 305.05 392.19 305.31"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.225px 294.785px;"
                            id="el0u0feyz9azm" class="animable"></polygon>
                        <polygon points="392.19 305.31 390.83 284.26 361.04 284.26 361.28 305.05 392.19 305.31"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 376.615px 294.785px;"
                            id="eld3z1btpjaql" class="animable"></polygon>
                        <polygon points="361.19 305.31 357.05 283.6 388.24 283.6 392.19 305.31 361.19 305.31"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 374.62px 294.455px;"
                            id="elavdx48rirrt" class="animable"></polygon>
                        <path d="M379.34,318.65a1,1,0,0,0-1,1l-.06,1.3H362.14l-.95,22.63h31l.71-17.15.24-5.48.1-2.26Z"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.215px 331.115px;"
                            id="el6kio6axaeuw" class="animable"></path>
                        <polygon points="392.19 343.54 392.05 322.49 362.26 322.49 362.5 343.29 392.19 343.54"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.225px 333.015px;"
                            id="elrxpbe6unm8" class="animable"></polygon>
                        <polygon points="392.19 343.54 390.83 322.49 361.04 322.49 361.28 343.29 392.19 343.54"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 376.615px 333.015px;"
                            id="el1shiu9netpp" class="animable"></polygon>
                        <polygon points="361.19 343.54 357.05 321.83 388.24 321.83 392.19 343.54 361.19 343.54"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 374.62px 332.685px;"
                            id="el2nzb2f59m0a" class="animable"></polygon>
                        <path
                            d="M379.34,356.89a1,1,0,0,0-1,.95l-.06,1.31H362.14l-.95,22.63h31l.71-17.16.24-5.47.1-2.26Z"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.215px 369.335px;"
                            id="ele55bxk5blx4" class="animable"></path>
                        <polygon points="392.19 381.78 392.05 360.73 362.26 360.73 362.5 381.52 392.19 381.78"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 377.225px 371.255px;"
                            id="elm0e4g1tx3hf" class="animable"></polygon>
                        <polygon points="392.19 381.78 390.83 360.73 361.04 360.73 361.28 381.52 392.19 381.78"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 376.615px 371.255px;"
                            id="el7du9jok3pj8" class="animable"></polygon>
                        <polygon points="361.19 381.78 357.05 360.07 388.24 360.07 392.19 381.78 361.19 381.78"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 374.62px 370.925px;"
                            id="elblwbg5iqv2" class="animable"></polygon>
                    </g>
                    <g id="freepik--Character--inject-25" class="animable"
                        style="transform-origin: 268.292px 329.258px;">
                        <g style="clip-path: url(&quot;#freepik--clip-path-2--inject-25&quot;); transform-origin: 268.292px 329.258px;"
                            id="elpxbkbssxgv" class="animable">
                            <path
                                d="M294.22,418.35a11.88,11.88,0,0,1,2.12,6.67c-.2,3.44,8.3,7.19,10.63,5.77s2.73-5.26,1-7.69a74.44,74.44,0,0,0-5.16-6c-.51-.61-.51-1.11-2.13-1.11S294.83,415.92,294.22,418.35Z"
                                style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 301.629px 423.544px;"
                                id="el449nshti5j9" class="animable"></path>
                            <path
                                d="M308.43,423.89a9.13,9.13,0,0,1-.25,2.55c-.51,1.82-1,1.92-1,1.92l-.91-1.42-1.92.51-.1,1.82a9.24,9.24,0,0,1-3.24-.4c-1.12-.51-3.34-1.72-3.75-4.15a15.37,15.37,0,0,0-2.22-5,10.64,10.64,0,0,1,1.31,5.3c-.2,3.44,8.3,7.19,10.63,5.77C309.06,429.52,309.59,426.29,308.43,423.89Z"
                                style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 302.036px 425.409px;"
                                id="eljxqhkee4yoo" class="animable"></path>
                            <path
                                d="M272.87,415.82a35.31,35.31,0,0,1-6.07,4.25c-3.23,1.72-7,1-7.48,2.63s2.12,3.13,8,3.94,6.88-.61,9.41-1.52,7-.2,8-.91.1-3.44-.3-6-.61-3.23-.61-3.23a10,10,0,0,1-5.67.91A20.69,20.69,0,0,0,272.87,415.82Z"
                                style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 272.225px 420.93px;"
                                id="eloogqqszjbeo" class="animable"></path>
                            <path
                                d="M276.72,425.12c2.53-.91,7-.2,8-.91.68-.47.49-1.87.17-3.5a14.11,14.11,0,0,1-3.31,1.58,75.81,75.81,0,0,0-8,2.33,12.06,12.06,0,0,1-9.1-.51c-2.53-1-1.52-.91-1.22-1.92a1.09,1.09,0,0,0-.15-1c-1.92.35-3.48.46-3.79,1.47-.51,1.61,2.12,3.13,8,3.94S274.19,426,276.72,425.12Z"
                                style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 272.219px 423.776px;"
                                id="elpwofn68nfm" class="animable"></path>
                            <path
                                d="M267.11,314.55s-.71,6.78-.71,21.65A282.71,282.71,0,0,0,268.32,370c.81,6.17,1,6.27,1.11,7.08s3.85,23.77,3.85,25.19v1.92s-2,2-1.32,3.85,1.93,5.56,1.62,5.66-1.41.61-1.41,1.52v.91a8.56,8.56,0,0,0,5.05,2.73c3.54.71,4.66,1.22,5.57-.1a15.45,15.45,0,0,0,2.53-5.16c.4-1.92.91-2.83-.31-4.75s-1.62-2.74-1.62-3.75,1.42-17.8.51-23.57S282.18,372,282.18,369s.91-29.14.91-29.14,5.16,32.27,5.77,39.25,2.53,24.69,2.32,25.8-1.72,2.83-1,4.65A24.13,24.13,0,0,0,292.9,414a1.23,1.23,0,0,0-.3,1.51c.41,1,1.22,2.73,1.62,2.84s8.6-1.22,8.6-1.22,2.93-5.06,2-7.69S303,405.6,303,405.3a67.28,67.28,0,0,0,1-8.2c.1-3.64-3.23-39.55-3.23-39.55s-1.42-32.48-1.42-32.78-.3-5.47-.3-5.47-10.73,7.09-19.93,4.05S267.11,314.55,267.11,314.55Z"
                                style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 285.7px 367.064px;"
                                id="elczkrbu0vra4" class="animable"></path>
                            <line x1="283.09" y1="339.84" x2="281.88" y2="336"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 282.485px 337.92px;"
                                id="el6pf7uqeio2b" class="animable"></line>
                            <line x1="283.39" y1="337.01" x2="279.04" y2="334.38"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 281.215px 335.695px;"
                                id="elhvnpgp9vcr7" class="animable"></line>
                            <path
                                d="M282.42,259.27s-7.37-1.07-8.54-.29-5.33,7.27-7.37,10-15.72,14.27-15.72,14.27l-11.95-23a34.59,34.59,0,0,0,.77-5.24c0-1.74-.87-2.81-.87-4.46s.78-4.08.39-4.66-1.46.1-2.14,1.26-.58,4.37-.58,4.37-6.08-7.5-6.6-8.44c-.14-.26-1.16-.2-1.16.58s3.78,7.86,3.78,7.86-.39.58-.77.58-5.73-6.4-6-6.5-1.16.1-.68,1.16,4.56,6.51,4.56,6.51a12,12,0,0,0-2.33.29.85.85,0,0,0-.09,1.36,4.22,4.22,0,0,0,1.16.77s.1.59.19,1.56a3.53,3.53,0,0,0,1.36,3.1,10.83,10.83,0,0,0,3.4,2.14c.48.09,10.88,30.6,12.53,33.32s2.43,2.81,4.27,2.32S270,284,270,284s-.77,24.94-1.65,26.69-1.84,1.75-1.84,2.91a18.78,18.78,0,0,0,.39,3s4.85,8.15,14.75,8.44,18.92-3.69,18.92-5.53a12.82,12.82,0,0,0-.68-3.4c0-.38,1.17-2.23,1-3.39s-.87-1.46-.68-3.2,8.54-26.69,8.93-34.36.48-8.25-1.36-9.6-8.64-2.53-8.64-2.53l-11.45-2.91-4.56-.39Z"
                                style="fill: rgb(217, 217, 217); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 267.105px 283.998px;"
                                id="elvc3uaol4ikj" class="animable"></path>
                            <path
                                d="M309.11,275.18c.39-7.66.48-8.25-1.36-9.6s-8.64-2.53-8.64-2.53l-11.45-2.91-4.56-.39-.68-.48s-7.37-1.07-8.54-.29-5.33,7.27-7.37,10-15.72,14.27-15.72,14.27l-4-8.13L239.48,280c3,7.92,5.62,14.71,6.26,15.77,1.65,2.71,2.43,2.81,4.27,2.32S270,284,270,284s-.77,24.94-1.65,26.69-1.84,1.75-1.84,2.91a18.78,18.78,0,0,0,.39,3s4.85,8.15,14.75,8.44,18.92-3.69,18.92-5.53a12.82,12.82,0,0,0-.68-3.4c0-.38,1.17-2.23,1-3.39s-.87-1.46-.68-3.2S308.72,282.85,309.11,275.18Z"
                                style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 274.41px 291.875px;"
                                id="elsukreh3n3fi" class="animable"></path>
                            <polyline points="270.05 272.54 270 284.01 267.57 272.65"
                                style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 268.81px 278.275px;"
                                id="elag9inzmxwul" class="animable"></polyline>
                            <path d="M268,317.28a51,51,0,0,0,29.74-.91"
                                style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 282.87px 317.718px;"
                                id="ell32kdc64lp9" class="animable"></path>
                            <path d="M290.15,321.79c1-.12,1.94-.27,3-.46"
                                style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 291.65px 321.56px;"
                                id="elrpj1jc9fqy" class="animable"></path>
                            <path d="M270.65,318.6s5.35,3.61,15.07,3.49"
                                style="fill: none; stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 278.185px 320.346px;"
                                id="eli5exa13lsj" class="animable"></path>
                            <path
                                d="M236.41,251.47a4.48,4.48,0,0,1-.61,1.95c-.59,1-1.33,1.35-1.43,3.1a3.17,3.17,0,0,0,1.07,2.62"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 235.386px 255.305px;"
                                id="elhrfuj7f8fob" class="animable"></path>
                            <path
                                d="M230.2,254.28s-3.88-2.71-4.66-2.23a1.81,1.81,0,0,0-.29,2.72c.88.78,4.66,1.36,5.34,1S230.82,254.68,230.2,254.28Z"
                                style="fill: rgb(217, 217, 217); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 227.847px 253.936px;"
                                id="el9zry1errkqc" class="animable"></path>
                            <path
                                d="M231.4,257.29s-2.71-.58-3.37-.69-1.05.26-1,.95.72,1.12,1.77,1.16,3.38.43,3.48-.58A.7.7,0,0,0,231.4,257.29Z"
                                style="fill: rgb(217, 217, 217); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 229.663px 257.699px;"
                                id="elr2zrkjscf1" class="animable"></path>
                            <path d="M287.69,253.62s5.41-.17,7.25-1.05"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 291.315px 253.095px;"
                                id="eletg1qmbxnc" class="animable"></path>
                            <path
                                d="M300.19,271s-11,11.23-14.57,15.48a70.86,70.86,0,0,1-8.09,8l-24.45-16.25a45.62,45.62,0,0,1-2.53-4.25c-.71-1.52-1.82-1.92-2.73-4.25s-1.83-3.84-2.53-2.22-.41,2.12,0,2.93,1.82,3.24,1.82,3.24-6.07-2.43-8.2-3.34-4.35-1.21-4.45-.4.31.7,1.32,1.11,7.28,3.84,7.28,3.84l-.61.31s-8.29-1.52-9.1-1.62-.61,1,0,1.31,3.74,1.82,3.74,1.82-.71.61.1,1.72a14.46,14.46,0,0,0,2.63,2.43,3.83,3.83,0,0,0,1.12,1.92c.81.61,6.07.51,8.29.71a9.81,9.81,0,0,1,3.24.71s25.77,22,27.49,22,25.69-22.66,28.32-26,4.55-9.2,2.94-11.93-4.15-3.34-5.77-2.74"
                                style="fill: rgb(204, 204, 204); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 272.312px 285.76px;"
                                id="el0irccrh5qnc5" class="animable"></path>
                            <path d="M237.09,276.65s3.24,1.12,4.25,1.42"
                                style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 239.215px 277.36px;"
                                id="elltj27wn5y8" class="animable"></path>
                            <line x1="239.82" y1="280.8" x2="241.95" y2="281.1"
                                style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 240.885px 280.95px;"
                                id="elu0vrteu4rc" class="animable"></line>
                            <path
                                d="M300.19,271s-11,11.23-14.57,15.48a70.86,70.86,0,0,1-8.09,8L271,290.19l-3.7,6.95c6.45,4.93,12,9,12.67,9,1.71,0,25.69-22.66,28.32-26s4.55-9.2,2.94-11.93-4.15-3.34-5.77-2.74l-1.47.93"
                                style="fill: rgb(38, 50, 56); stroke: rgb(255, 255, 255); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 289.56px 285.7px;"
                                id="el5ui0dhvynsw" class="animable"></path>
                            <path
                                d="M299.11,263.05l-11.45-2.91-3.64-.32-1.6-.55s-.83-.12-2-.25l-.29,22.25L303,263.87C301,263.37,299.11,263.05,299.11,263.05Z"
                                style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 291.565px 270.145px;"
                                id="elwkrq3cmlva" class="animable"></path>
                            <path
                                d="M296.25,227.43a9.15,9.15,0,0,0-6.47,2.44c-2.62,2.7-2.79,4.45-3.84,5.41s-3.06.87-4.45,3.84-2.45,9.17-2.19,11.18,2,2.62,3.67,2.88,4.72.44,4.72.44-.45,6.56-.88,6.46-2.79-.26-2.79-.26-.44,10.22-.52,12.75l-.09,2.54L299.36,263l-3.11-1.3a24.36,24.36,0,0,1,1-5.94,28,28,0,0,1,1.83-4.45s5-1.66,7.69-5.41c2.17-3,2.1-7.33.92-10.71a11.49,11.49,0,0,0-9.06-7.63A12,12,0,0,0,296.25,227.43Z"
                                style="fill: rgb(217, 217, 217); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 293.884px 251.264px;"
                                id="elrh4vuw70gxr" class="animable"></path>
                            <path
                                d="M287.51,237.38a16.35,16.35,0,0,1-2.88,2.53c-1.4.87-.35,2.53,1.4,3.14s2.27-.17,2.27-.17"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 286.141px 240.332px;"
                                id="elj70k7mt70bb" class="animable"></path>
                            <path
                                d="M288.56,245.94s-3.58-.53-5.24-2.1a2.92,2.92,0,0,0,1.92,2.1A7.57,7.57,0,0,0,288.56,245.94Z"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 285.94px 244.982px;"
                                id="elzej8k7f2q8n" class="animable"></path>
                            <path d="M293.63,235.11a3.26,3.26,0,0,1,2.27,2.79"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 294.765px 236.505px;"
                                id="elmshxb4degi7" class="animable"></path>
                            <path d="M290.66,233.71a2.62,2.62,0,0,0-3.15-.18"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 289.085px 233.399px;"
                                id="elbs89psm7e0g" class="animable"></path>
                            <path
                                d="M292.05,238.51c-.37.59-.89.93-1.15.77s-.18-.79.19-1.38.89-.93,1.16-.76S292.43,237.92,292.05,238.51Z"
                                style="fill: rgb(38, 50, 56); transform-origin: 291.577px 238.208px;" id="elhq4u3ahzn87"
                                class="animable"></path>
                            <path
                                d="M287.08,236.07c-.38.59-.89.93-1.16.76s-.18-.78.2-1.37.89-.93,1.15-.77S287.45,235.47,287.08,236.07Z"
                                style="fill: rgb(38, 50, 56); transform-origin: 286.593px 235.762px;" id="eloxniuis9p7"
                                class="animable"></path>
                            <path d="M290.13,240.08s2.71.09,3.58,1.14"
                                style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; stroke-width: 0.75px; transform-origin: 291.92px 240.65px;"
                                id="elx2cplnfjr8l" class="animable"></path>
                            <path
                                d="M307.65,235.23a11.49,11.49,0,0,0-9.06-7.63,12,12,0,0,0-2.34-.17,11.26,11.26,0,0,0-2.65.34,5.18,5.18,0,0,0,1.25,1.31c.8.59,3.06.35,5.5,1.4s3.93,4.54,2.36,6.63-3.19-.49-4,1.43a27.33,27.33,0,0,0-.92,2.91,3.27,3.27,0,0,0,.07,1c.28,1,.94,1.5.57,2s-.95,1-.95,1.69a.71.71,0,0,0,.21.48c1.48-.59,4.6-1.61,5,.25.52,2.44-1.57,3.67-3.23,3.93a9.58,9.58,0,0,1-3.85-.52s.61,1.42,3.12,1.7c.18-.37.29-.57.29-.57s5-1.66,7.69-5.41C308.9,242.92,308.83,238.61,307.65,235.23Z"
                                style="fill: rgb(38, 50, 56); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 301.033px 239.703px;"
                                id="el1hqxmmgtieb" class="animable"></path>
                        </g>
                    </g>
                    <g id="freepik--Clouds--inject-25" class="animable" style="transform-origin: 279.053px 161.815px;">
                        <path
                            d="M297.52,149.06a26.7,26.7,0,0,0-26.7-26.71,26.31,26.31,0,0,0-4.56.4,38,38,0,0,0-76-.14,28.11,28.11,0,0,0-3.69-.26A26.7,26.7,0,0,0,185,175.71v0h87.46v0A26.7,26.7,0,0,0,297.52,149.06Z"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 228.638px 130.195px;"
                            id="el8nev68h7q0g" class="animable"></path>
                        <polygon
                            points="242.45 148.06 225.48 133.96 208.51 148.06 212.24 148.06 212.24 193.4 238.73 193.4 238.73 148.06 242.45 148.06"
                            style="fill: rgb(38, 50, 56); transform-origin: 225.48px 163.68px;" id="el4h6v1r7rcf7"
                            class="animable"></polygon>
                        <path
                            d="M228.44,184.66a1.25,1.25,0,0,0-1.23,1.18l-.06,1.6H207.28l-1.17,27.85h38.14l.88-21.11.3-6.74.12-2.78Z"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 225.83px 199.975px;"
                            id="el9h89268iwaw" class="animable"></path>
                        <polygon points="244.25 215.29 244.09 189.38 207.43 189.38 207.72 214.97 244.25 215.29"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 225.84px 202.335px;"
                            id="elvfo73ldnqc" class="animable"></polygon>
                        <polygon points="244.25 215.29 242.59 189.38 205.93 189.38 206.22 214.97 244.25 215.29"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 225.09px 202.335px;"
                            id="eljzzsg8194lo" class="animable"></polygon>
                        <polygon points="206.11 215.29 201.01 188.58 239.39 188.58 244.25 215.29 206.11 215.29"
                            style="fill: #2E86EA; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 222.63px 201.935px;"
                            id="el52m584famyi" class="animable"></polygon>
                        <line x1="209.84" y1="179.95" x2="209.84" y2="181.73"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 209.84px 180.84px;"
                            id="el760tvn8zaef" class="animable"></line>
                        <line x1="209.84" y1="170.05" x2="209.84" y2="178.16"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 209.84px 174.105px;"
                            id="elsj9ok5wqwtf" class="animable"></line>
                        <line x1="241.02" y1="161.45" x2="241.02" y2="168.26"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 241.02px 164.855px;"
                            id="elpheoglsowl" class="animable"></line>
                        <line x1="229.17" y1="216.47" x2="229.17" y2="223.28"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 229.17px 219.875px;"
                            id="elj0vpwk1mjc" class="animable"></line>
                        <line x1="243.95" y1="226.84" x2="243.95" y2="242.26"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 243.95px 234.55px;"
                            id="elrs4ei14m2sj" class="animable"></line>
                        <line x1="243.95" y1="221.49" x2="243.95" y2="224.41"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 243.95px 222.95px;"
                            id="elef8jeu57z3f" class="animable"></line>
                        <line x1="209.06" y1="220.84" x2="209.06" y2="226.35"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 209.06px 223.595px;"
                            id="el0edxk0y582x" class="animable"></line>
                        <line x1="212.63" y1="246.31" x2="212.63" y2="247.61"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 212.63px 246.96px;"
                            id="elmaj29xu6il" class="animable"></line>
                        <line x1="212.63" y1="224.24" x2="212.63" y2="244.53"
                            style="fill: none; stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 212.63px 234.385px;"
                            id="eli6cehvoqkc" class="animable"></line>
                        <path
                            d="M398.35,181.23A15.65,15.65,0,0,0,380,165.77a22.34,22.34,0,0,0-44.67-.08,15.5,15.5,0,0,0-2.17-.16,15.7,15.7,0,0,0-.95,31.37v0h51.41v0A15.71,15.71,0,0,0,398.35,181.23Z"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 357.915px 170.381px;"
                            id="elw8z6fg2wxe" class="animable"></path>
                        <path
                            d="M341.05,97.33a8.85,8.85,0,0,0-8.85-8.85,8.32,8.32,0,0,0-1.51.13,12.59,12.59,0,0,0-25.18,0,9.9,9.9,0,0,0-1.23-.08,8.85,8.85,0,0,0-.53,17.68v0h29v0A8.85,8.85,0,0,0,341.05,97.33Z"
                            style="fill: rgb(255, 255, 255); stroke: rgb(38, 50, 56); stroke-linecap: round; stroke-linejoin: round; transform-origin: 318.271px 91.115px;"
                            id="elhu9yush2kn9" class="animable"></path>
                    </g>
                    <defs>
                        <filter id="active" height="200%">
                            <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2">
                            </feMorphology>
                            <feFlood flood-color="#32DFEC" flood-opacity="1" result="PINK"></feFlood>
                            <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                            <feMerge>
                                <feMergeNode in="OUTLINE"></feMergeNode>
                                <feMergeNode in="SourceGraphic"></feMergeNode>
                            </feMerge>
                        </filter>
                        <filter id="hover" height="200%">
                            <feMorphology in="SourceAlpha" result="DILATED" operator="dilate" radius="2">
                            </feMorphology>
                            <feFlood flood-color="#ff0000" flood-opacity="0.5" result="PINK"></feFlood>
                            <feComposite in="PINK" in2="DILATED" operator="in" result="OUTLINE"></feComposite>
                            <feMerge>
                                <feMergeNode in="OUTLINE"></feMergeNode>
                                <feMergeNode in="SourceGraphic"></feMergeNode>
                            </feMerge>
                            <feColorMatrix type="matrix"
                                values="0   0   0   0   0                0   1   0   0   0                0   0   0   0   0                0   0   0   1   0 ">
                            </feColorMatrix>
                        </filter>
                    </defs>
                    <defs>
                        <clipPath id="freepik--clip-path--inject-25">
                            <rect x="34.57" y="250.32" width="64.74" height="189.38" style="fill:none"></rect>
                        </clipPath>
                        <clipPath id="freepik--clip-path-2--inject-25">
                            <rect x="219.17" y="222.51" width="104.64" height="199.94" style="fill:none"></rect>
                        </clipPath>
                    </defs>
                </svg>
            </div>
            <div class="info">
                <p class="title">Add Size to <%= data.name%></p>
                <form action="/items/add-size/<%= data.id%>" method="post">
                    <input type="text" name="name" value="<%= data.name%>" placeholder="Name" disabled>
                    <div class="flex">
                        <input type="number" name="price" placeholder="Price" value="<%= data.price%>" required>
                        <input type="number" name="sell_price" value="<%= data.sell_price%>" placeholder="Selling Price" required>
                    </div>
                    <input type="number" name="qty" placeholder="Quantity" required>
                    <input type="text" name="barcode" placeholder="Barcode">
                    <div class="flex">
                        <select name="size" required>
                            <% size.forEach(Sizedata=>{%>
                                <option>
                                    <%= Sizedata.size%>
                                </option>
                                <%}) %>
                        </select>
                    </div>
                    <br>
                    <button>Add Size</button>
                </form>
            </div>
        </div>
        <br>
        <br>

        <div class="wave-svg">
            <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 690" xmlns="http://www.w3.org/2000/svg"
                class="transition duration-300 ease-in-out delay-150">
                <style>
                    .path-0 {
                        animation: pathAnim-0 4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    @keyframes pathAnim-0 {
                        0% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 29.956767879246144,245.87259681363653 59.91353575849229,258.74519362727307 111,277 C 162.0864642415077,295.25480637272693 234.30262484527708,318.8918223045444 285,302 C 335.6973751547229,285.1081776954556 364.8759648603995,227.68751715454945 393,197 C 421.1240351396005,166.31248284545055 448.1935157131246,162.35810907725786 501,148 C 553.8064842868754,133.64189092274214 632.349972287102,108.88004653641903 675,148 C 717.650027712898,187.11995346358097 724.4065951384671,290.1217047770661 764,295 C 803.5934048615329,299.8782952229339 876.0236471590296,206.63313435531654 933,168 C 989.9763528409704,129.36686564468346 1031.4988162254147,145.34575780166773 1063,154 C 1094.5011837745853,162.65424219833227 1115.9810879393115,163.98383443801256 1161,192 C 1206.0189120606885,220.01616556198744 1274.5768320173397,274.7189044462821 1325,286 C 1375.4231679826603,297.2810955537179 1407.7115839913301,265.14054777685897 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        25% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 31.417207496117527,256.0038727225399 62.834414992235054,279.00774544507976 109,271 C 155.16558500776495,262.99225455492024 216.07954752717728,223.97289094222086 263,227 C 309.9204524728227,230.02710905777914 342.8473948990559,275.1006907860369 381,296 C 419.1526051009441,316.8993092139631 462.5308728765988,313.6243459136314 504,279 C 545.4691271234012,244.3756540863686 585.0291135945489,178.40192555943753 631,147 C 676.9708864054511,115.59807444056248 729.352672745206,118.76795184861854 782,149 C 834.647327254794,179.23204815138146 887.5601954246272,236.52626704608838 931,254 C 974.4398045753728,271.4737329539116 1008.4065455562857,249.12697996702784 1041,229 C 1073.5934544437143,208.87302003297216 1104.8136223502308,190.9658130858002 1155,212 C 1205.1863776497692,233.0341869141998 1274.338965042791,293.00976768977137 1325,303 C 1375.661034957209,312.99023231022863 1407.8305174786046,272.9951161551143 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        50% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 49.8649806363873,241.90520418119456 99.7299612727746,250.8104083623891 146,229 C 192.2700387272254,207.1895916376109 234.94513554528885,154.6635707316382 272,155 C 309.05486445471115,155.3364292683618 340.48949654606986,208.53530871105806 384,247 C 427.51050345393014,285.46469128894194 483.09687827043183,309.1951944241295 525,309 C 566.9031217295682,308.8048055758705 595.1229903722027,284.68391359242383 637,289 C 678.8770096277973,293.31608640757617 734.411160240757,326.0691512061751 779,306 C 823.588839759243,285.9308487938249 857.2323686647695,213.03948158287577 905,221 C 952.7676313352305,228.96051841712423 1014.6593651001649,317.772922462322 1057,315 C 1099.340634899835,312.227077537678 1122.130170934571,217.86882856783637 1162,192 C 1201.869829065429,166.13117143216363 1258.819951161551,208.75176326633246 1308,227 C 1357.180048838449,245.24823673366754 1398.5900244192244,239.12411836683378 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        75% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 34.758065515769786,261.48226463072785 69.51613103153957,289.9645292614557 118,268 C 166.48386896846043,246.03547073854432 228.69354138961143,173.62414758490507 279,169 C 329.3064586103886,164.37585241509493 367.7097034100145,227.53888039892405 405,246 C 442.2902965899855,264.46111960107595 478.4676449703304,238.22033081939867 525,231 C 571.5323550296696,223.77966918060133 628.4197167086639,235.57979632348128 678,217 C 727.5802832913361,198.42020367651872 769.8534881950137,149.46048388667637 807,160 C 844.1465118049863,170.53951611332363 876.1663305112809,240.57826812981324 911,260 C 945.8336694887191,279.42173187018676 983.4811897598629,248.2264435940707 1024,218 C 1064.518810240137,187.7735564059293 1107.9089104492678,158.51595749390404 1159,164 C 1210.0910895507322,169.48404250609596 1268.8831684430663,209.70972643031314 1317,227 C 1365.1168315569337,244.29027356968686 1402.558415778467,238.64513678484343 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }

                        100% {
                            d: path("M 0,700 C 0,700 0,233 0,233 C 29.956767879246144,245.87259681363653 59.91353575849229,258.74519362727307 111,277 C 162.0864642415077,295.25480637272693 234.30262484527708,318.8918223045444 285,302 C 335.6973751547229,285.1081776954556 364.8759648603995,227.68751715454945 393,197 C 421.1240351396005,166.31248284545055 448.1935157131246,162.35810907725786 501,148 C 553.8064842868754,133.64189092274214 632.349972287102,108.88004653641903 675,148 C 717.650027712898,187.11995346358097 724.4065951384671,290.1217047770661 764,295 C 803.5934048615329,299.8782952229339 876.0236471590296,206.63313435531654 933,168 C 989.9763528409704,129.36686564468346 1031.4988162254147,145.34575780166773 1063,154 C 1094.5011837745853,162.65424219833227 1115.9810879393115,163.98383443801256 1161,192 C 1206.0189120606885,220.01616556198744 1274.5768320173397,274.7189044462821 1325,286 C 1375.4231679826603,297.2810955537179 1407.7115839913301,265.14054777685897 1440,233 C 1440,233 1440,700 1440,700 Z");
                        }
                    }
                </style>
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                        <stop offset="5%" stop-color="#0693e3"></stop>
                        <stop offset="95%" stop-color="#8ED1FC"></stop>
                    </linearGradient>
                </defs>
                <path
                    d="M 0,700 C 0,700 0,233 0,233 C 29.956767879246144,245.87259681363653 59.91353575849229,258.74519362727307 111,277 C 162.0864642415077,295.25480637272693 234.30262484527708,318.8918223045444 285,302 C 335.6973751547229,285.1081776954556 364.8759648603995,227.68751715454945 393,197 C 421.1240351396005,166.31248284545055 448.1935157131246,162.35810907725786 501,148 C 553.8064842868754,133.64189092274214 632.349972287102,108.88004653641903 675,148 C 717.650027712898,187.11995346358097 724.4065951384671,290.1217047770661 764,295 C 803.5934048615329,299.8782952229339 876.0236471590296,206.63313435531654 933,168 C 989.9763528409704,129.36686564468346 1031.4988162254147,145.34575780166773 1063,154 C 1094.5011837745853,162.65424219833227 1115.9810879393115,163.98383443801256 1161,192 C 1206.0189120606885,220.01616556198744 1274.5768320173397,274.7189044462821 1325,286 C 1375.4231679826603,297.2810955537179 1407.7115839913301,265.14054777685897 1440,233 C 1440,233 1440,700 1440,700 Z"
                    stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53"
                    class="transition-all duration-300 ease-in-out delay-150 path-0"></path>
                <style>
                    .path-1 {
                        animation: pathAnim-1 4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                    }

                    @keyframes pathAnim-1 {
                        0% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 51.360609435843315,469.8904410866289 102.72121887168663,473.78088217325785 141,463 C 179.27878112831337,452.21911782674215 204.47573394909676,426.7669123935976 249,436 C 293.52426605090324,445.2330876064024 357.3758453319262,489.15146825235206 407,522 C 456.6241546680738,554.8485317476479 492.0208847231986,576.6272145969942 536,547 C 579.9791152768014,517.3727854030058 632.5406157752794,436.33967335967094 678,419 C 723.4593842247206,401.66032664032906 761.8166521756839,448.01409196432206 807,440 C 852.1833478243161,431.98590803567794 904.1927755219851,369.6039587830408 937,395 C 969.8072244780149,420.3960412169592 983.4122457363751,533.5700729035148 1028,548 C 1072.587754263625,562.4299270964852 1148.1582415325145,478.1157496028998 1196,465 C 1243.8417584674855,451.8842503971002 1263.9547881335673,509.96692868488583 1300,522 C 1336.0452118664327,534.0330713151142 1388.0226059332163,500.0165356575571 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        25% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 38.72236280344737,440.6284931089622 77.44472560689474,415.2569862179243 120,400 C 162.55527439310526,384.7430137820757 208.94346037586837,379.60054823726495 258,391 C 307.05653962413163,402.39945176273505 358.78143288963184,430.3408208330161 405,458 C 451.21856711036816,485.6591791669839 491.9308080656043,513.0361684306708 534,518 C 576.0691919343957,522.9638315693292 619.495334847951,505.51450544430054 666,510 C 712.504665152049,514.4854945556995 762.087852542592,540.9058097921268 806,546 C 849.912147457408,551.0941902078732 888.1532549816811,534.8622553871926 924,507 C 959.8467450183189,479.13774461280747 993.2991275306836,439.64516865910304 1029,437 C 1064.7008724693164,434.35483134089696 1102.650234895585,468.5570699763954 1155,457 C 1207.349765104415,445.4429300236046 1274.0999328869757,388.12655143531555 1324,382 C 1373.9000671130243,375.87344856468445 1406.9500335565122,420.9367242823422 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        50% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 39.11140939121934,474.5440936111588 78.22281878243868,483.0881872223177 123,471 C 167.77718121756132,458.9118127776823 218.22013426146458,426.1913447218882 259,402 C 299.7798657385354,377.8086552781118 330.89664417170303,362.14643389012946 372,402 C 413.10335582829697,441.85356610987054 464.1932890517231,537.2229197175941 513,554 C 561.8067109482769,570.7770802824059 608.3301996214045,508.9618872394944 659,510 C 709.6698003785955,511.0381127605056 764.4859124626585,574.9295313244286 809,549 C 853.5140875373415,523.0704686755714 887.7261505279615,407.31998746279123 929,404 C 970.2738494720385,400.68001253720877 1018.609485425495,509.7905188244065 1056,533 C 1093.390514574505,556.2094811755935 1119.835907770059,493.51793723958286 1163,490 C 1206.164092229941,486.48206276041714 1266.046883494269,542.137732217262 1315,548 C 1363.953116505731,553.862267782738 1401.9765582528655,509.931133891369 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        75% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 52.516575500381606,466.02377465606787 105.03315100076321,466.04754931213574 149,441 C 192.9668489992368,415.95245068786426 228.38397149732873,365.83357740752484 264,385 C 299.61602850267127,404.16642259247516 335.4309630099217,492.618141057765 375,528 C 414.5690369900783,563.381858942235 457.89217646298425,545.6938583614152 508,536 C 558.1078235370157,526.3061416385848 615.0003311381413,524.6064254965744 666,520 C 716.9996688618587,515.3935745034256 762.1064989844506,507.8804396522873 804,484 C 845.8935010155494,460.1195603477127 884.573672924056,419.8718158942766 917,422 C 949.426327075944,424.1281841057234 975.5988093193255,468.6322967706063 1024,474 C 1072.4011906806745,479.3677032293937 1143.031089798643,445.5989970232983 1191,450 C 1238.968910201357,454.4010029767017 1264.276831486102,496.9717151362005 1302,506 C 1339.723168513898,515.0282848637995 1389.8615842569488,490.51414243189976 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }

                        100% {
                            d: path("M 0,700 C 0,700 0,466 0,466 C 51.360609435843315,469.8904410866289 102.72121887168663,473.78088217325785 141,463 C 179.27878112831337,452.21911782674215 204.47573394909676,426.7669123935976 249,436 C 293.52426605090324,445.2330876064024 357.3758453319262,489.15146825235206 407,522 C 456.6241546680738,554.8485317476479 492.0208847231986,576.6272145969942 536,547 C 579.9791152768014,517.3727854030058 632.5406157752794,436.33967335967094 678,419 C 723.4593842247206,401.66032664032906 761.8166521756839,448.01409196432206 807,440 C 852.1833478243161,431.98590803567794 904.1927755219851,369.6039587830408 937,395 C 969.8072244780149,420.3960412169592 983.4122457363751,533.5700729035148 1028,548 C 1072.587754263625,562.4299270964852 1148.1582415325145,478.1157496028998 1196,465 C 1243.8417584674855,451.8842503971002 1263.9547881335673,509.96692868488583 1300,522 C 1336.0452118664327,534.0330713151142 1388.0226059332163,500.0165356575571 1440,466 C 1440,466 1440,700 1440,700 Z");
                        }
                    }
                </style>
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%">
                        <stop offset="5%" stop-color="#0693e3"></stop>
                        <stop offset="95%" stop-color="#8ED1FC"></stop>
                    </linearGradient>
                </defs>
                <path
                    d="M 0,700 C 0,700 0,466 0,466 C 51.360609435843315,469.8904410866289 102.72121887168663,473.78088217325785 141,463 C 179.27878112831337,452.21911782674215 204.47573394909676,426.7669123935976 249,436 C 293.52426605090324,445.2330876064024 357.3758453319262,489.15146825235206 407,522 C 456.6241546680738,554.8485317476479 492.0208847231986,576.6272145969942 536,547 C 579.9791152768014,517.3727854030058 632.5406157752794,436.33967335967094 678,419 C 723.4593842247206,401.66032664032906 761.8166521756839,448.01409196432206 807,440 C 852.1833478243161,431.98590803567794 904.1927755219851,369.6039587830408 937,395 C 969.8072244780149,420.3960412169592 983.4122457363751,533.5700729035148 1028,548 C 1072.587754263625,562.4299270964852 1148.1582415325145,478.1157496028998 1196,465 C 1243.8417584674855,451.8842503971002 1263.9547881335673,509.96692868488583 1300,522 C 1336.0452118664327,534.0330713151142 1388.0226059332163,500.0165356575571 1440,466 C 1440,466 1440,700 1440,700 Z"
                    stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1"
                    class="transition-all duration-300 ease-in-out delay-150 path-1"></path>
            </svg>
        </div>
    </div>
    <%- include("../layout/footer") -%>